NODE_ENV=''

PORT=''

# jira config
JIRA_BASE_URL=''
JIRA_USERNAME=''
JIRA_API_KEY=''

# db config
DB_HOST=''
DB_PORT=''
DB_USERNAME=''
DB_PASSWORD=''
DB_DATABASE=''

# redis config
REDIS_HOST=''
REDIS_PORT=''